/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  background: #000000e1;
  background-image: url();
  margin: 0;
  padding: 0;
}
/* Cabeçalho */
header {
  background: #000000;
  background-image: url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzdvcWY3YzFtZXZycmo1Zm1pcHhjczM0aHBvN2ZzdWszZ25zY3VpNCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Lopx9eUi34rbq/giphy.gif);
  background-repeat: no-repeat; 
  background-size: auto;
  background-size: cover;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}
/* Animação do titulo do Cabeçalho */
#MDC {
    font-size: 2em;
    font-weight: bold;
    animation: focus-in-contract 1s both, text-shadow-pop-top 1s both 1s;
}
/* Caixa de Texto */
main {
  max-width: 800px;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  /* Animação para a esquerda Para a direita */
  animation-delay: 2s;
  animation: slide-left 1s ease-in-out;
}
/* Direitos reservados (Confia) */
footer {
  text-align: center;
  color: #888;
  padding: 20px 0;
}
/*  Botão de Começar */
.btn {
  display: inline-block;
  background: #007bff;
  color: #ffffff;
  padding: 15px 15px; /* Diminuindo o tamanho do botão */
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgb(0, 0, 0);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1em; /* Ajustando o tamanho da fonte */
  margin: 20px auto; /* Centralizando o botão */
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content; /* Ajustando a largura ao conteúdo */
  animation: flow 1.5s ease-in-out infinite;
}
.btn2 {
  position: relative;
  top: -247px; /* Adjusted to prevent overlap */
  left: 785px; /* Adjusted to prevent overlap */
  background: #0c0c0c;
  color: #ffffff;
  padding: 5px 5px; /* Diminuindo o tamanho do botão */
  border: 5px solid rgba(255, 250, 250, 0);
  box-shadow: 0 0 5px rgb(0, 0, 0);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1em; /* Ajustando o tamanho da fonte */
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content; /* Ajustando a largura ao conteúdo */
}
.btn2:active {
  box-shadow: 0 0 5px rgb(0, 0, 0);
  transform: translateY(10px);
}
.btn:hover {
  background: #0056b3;
  animation: shake-bottom 1s ease-in-out;
}
